# Importação das Bibliotecas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

1. Criação do Banco de Dados com 215_000 linhas

In [ ]:
import csv

MAX_ROWS = 215_000

# Nome para o input
INPUT_CSV = 'MICRODADOS_ENEM_2022.csv'

# Novo banco de dados
NEW_BASE = 'Banco_de_dados_enem_2022-'

def make_new_csv(i, header=None):

    new_name = f'{NEW_BASE}{i}.csv'

    # Criação de um arquivo com o novo nome
    new_f = open(new_name, 'w', newline='')

    writer = csv.writer(new_f)

    if header:
        writer.writerow(header)

    return new_f, writer


with open(INPUT_CSV, newline='') as in_f:

    reader = csv.reader(in_f)

    your_header = next(reader)

    new_i = 1

    new_f, writer = make_new_csv(new_i, your_header)


    new_rows = 0
    for row in reader:
        if new_rows == MAX_ROWS:
            new_f.close()
            break
            new_i += 1
            new_f, writer = make_new_csv(new_i, your_header)
            new_rows = 0
        writer.writerow(row)
        new_rows +=1


    new_f.close()

2. Visão do Banco de Dados

**Utilizando o google drive para armazenar o banco de dados**

Como o Pandas consegue ler o arquivo CSV mesmo este estando zipado, o mesmo foi armazenado em formado ZIP para manter a integridade dos dados.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#usar essa celula caso for utilizar o google drive para puxar o banco de dados
#desse modo é possivel carregar todo o banco de dados.
df_enem = pd.read_excel('/content/drive/MyDrive/Banco de Dados/Microdados.zip', encoding = 'latin1', sep=';')

In [ ]:
df_enem = pd.read_csv('banco_de_dados_enem_2022-1.csv', encoding = 'latin1', sep=';')
df_enem

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210057943671,2022,14,M,2,2,1,1,2,1,...,B,A,A,A,A,A,A,A,A,A
1,210057516120,2022,14,M,2,1,1,1,16,1,...,E,E,B,E,B,B,E,B,E,B
2,210057280536,2022,5,F,1,2,1,1,2,1,...,A,A,A,A,A,A,C,A,A,B
3,210055724397,2022,6,M,1,3,1,1,2,1,...,B,A,A,C,A,A,C,B,B,B
4,210055097896,2022,4,M,0,3,1,1,1,1,...,A,A,A,A,A,A,B,A,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214995,210055439048,2022,3,F,1,1,1,2,0,2,...,B,A,A,B,A,A,D,A,B,B
214996,210054617961,2022,4,M,1,1,1,1,1,1,...,A,A,A,B,A,A,D,A,B,B
214997,210057182759,2022,6,M,1,1,1,1,3,1,...,B,A,A,D,A,B,D,A,C,B
214998,210054930911,2022,4,F,1,2,1,1,2,1,...,A,A,A,B,A,A,C,A,A,B
214999,210057950731,2022,15,F,2,3,1,1,16,1,...,A,A,A,B,A,A,D,B,B,B

In [ ]:
df_enem['TP_NACIONALIDADE'].unique()

array([1, 2, 3, 4, 0], dtype=int64)

#Criação dos dicionarios para as categorias do banco de dados

In [13]:
TP_FAIXA_ETARIA = {1:'Menor de 17 anos',
2:'17 anos',
3:'18 anos',
4:'19 anos',
5:'20 anos',
6:'21 anos',
7:'22 anos',
8:'23 anos',
9:'24 anos',
10:'25 anos',
11:'Entre 26 e 30 anos',
12:'Entre 31 e 35 anos',
13:'Entre 36 e 40 anos',
14:'Entre 41 e 45 anos',
15:'Entre 46 e 50 anos',
16:'Entre 51 e 55 anos',
17:'Entre 56 e 60 anos',
18:'Entre 61 e 65 anos',
19:'Entre 66 e 70 anos',
20:'Maior de 70 anos'}

TP_ESTADO_CIVIL = {0: 'Não informado',
1:'Solteiro(a)',
2:'Casado(a)/Mora com companheiro(a)',
3:'Divorciado(a)/Desquitado(a)/Separado(a)',
4:'Viúvo(a)'}

TP_COR_RACA = {0:'Não declarado',
1:'Branca',
2:'Preta',
3:'Parda',
4:'Amarela',
5:'Indígena ',
6:'Não dispõe da informação'}

TP_NACIONALIDADE = {0:'Não informado',
1:'Brasileiro(a)',
2:'Brasileiro(a) Naturalizado(a)',
3:'Estrangeiro(a)',
4:'Brasileiro(a) Nato(a), nascido(a) no exterior'}

TP_ST_CONCLUSAO = {1:'Já concluí o Ensino Médio',
2:'Estou cursando e concluirei o Ensino Médio em 2022',
3:'Estou cursando e concluirei o Ensino Médio após 2022',
4:'Não concluí e não estou cursando o Ensino Médio'}

TP_ANO_CONCLUIU = {0:'Não informado',
1:'2021',
2:'2020',
3:'2019',
4:'2018',
5:'2017',
6:'2016',
7:'2015',
8:'2014',
9:'2013',
10:'2012',
11:'2011',
12:'2010',
13:'2009',
14:'2008',
15:'2007',
16:'Antes de 2007'}


TP_ESCOLA = { 1:'Não Respondeu', 2:'Pública', 3:'Privada'}

TP_ENSINO = {1:'Ensino Regular', 2:'Educação Especial - Modalidade Substitutiva'}


IN_TREINEIRO = {1:'Sim', 0:'Não'}

In [4]:
df_enem

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210057943671,2022,14,M,2,2,1,1,2,1,...,B,A,A,A,A,A,A,A,A,A
1,210057516120,2022,14,M,2,1,1,1,16,1,...,E,E,B,E,B,B,E,B,E,B
2,210057280536,2022,5,F,1,2,1,1,2,1,...,A,A,A,A,A,A,C,A,A,B
3,210055724397,2022,6,M,1,3,1,1,2,1,...,B,A,A,C,A,A,C,B,B,B
4,210055097896,2022,4,M,0,3,1,1,1,1,...,A,A,A,A,A,A,B,A,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3476100,210056389903,2022,3,M,1,1,1,2,0,2,...,B,A,B,B,B,A,E,A,A,B
3476101,210057205644,2022,14,F,2,1,1,2,0,2,...,A,A,A,B,A,A,C,A,B,B
3476102,210056699189,2022,2,M,1,1,1,2,0,2,...,B,A,B,C,B,A,E,A,B,B
3476103,210056983033,2022,3,M,1,3,1,2,0,3,...,B,A,B,D,A,A,E,A,B,B
3476104,210056307777,2022,2,F,2,3,1,2,0,2,...,A,A,A,B,A,A,C,A,C,B