In [2]:
import pandas as pd
import numpy as np

In [10]:
import csv

MAX_ROWS = 215_000

# Nome para o input
INPUT_CSV = 'MICRODADOS_ENEM_2022.csv'

# Novo banco de dados
NEW_BASE = 'Banco_de_dados_enem_2022-'


def make_new_csv(i, header=None):
    
    new_name = f'{NEW_BASE}{i}.csv'

    # Criação de um arquivo com o novo nome
    new_f = open(new_name, 'w', newline='')

    writer = csv.writer(new_f)

    if header:
        writer.writerow(header)

    return new_f, writer



with open(INPUT_CSV, newline='') as in_f:
    
    reader = csv.reader(in_f)

    your_header = next(reader)  

    new_i = 1

    new_f, writer = make_new_csv(new_i, your_header)

    
    new_rows = 0
    for row in reader:
        if new_rows == MAX_ROWS:
            new_f.close()                                     
            break
            new_i += 1
            new_f, writer = make_new_csv(new_i, your_header)  
            new_rows = 0                                      
        writer.writerow(row)
        new_rows +=1

    
    new_f.close()

In [12]:
df_enem = pd.read_csv('banco_de_dados_enem_2022-1.csv', encoding = 'latin1', sep=';')
df_enem

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210057943671,2022,14,M,2,2,1,1,2,1,...,B,A,A,A,A,A,A,A,A,A
1,210057516120,2022,14,M,2,1,1,1,16,1,...,E,E,B,E,B,B,E,B,E,B
2,210057280536,2022,5,F,1,2,1,1,2,1,...,A,A,A,A,A,A,C,A,A,B
3,210055724397,2022,6,M,1,3,1,1,2,1,...,B,A,A,C,A,A,C,B,B,B
4,210055097896,2022,4,M,0,3,1,1,1,1,...,A,A,A,A,A,A,B,A,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214995,210055439048,2022,3,F,1,1,1,2,0,2,...,B,A,A,B,A,A,D,A,B,B
214996,210054617961,2022,4,M,1,1,1,1,1,1,...,A,A,A,B,A,A,D,A,B,B
214997,210057182759,2022,6,M,1,1,1,1,3,1,...,B,A,A,D,A,B,D,A,C,B
214998,210054930911,2022,4,F,1,2,1,1,2,1,...,A,A,A,B,A,A,C,A,A,B
214999,210057950731,2022,15,F,2,3,1,1,16,1,...,A,A,A,B,A,A,D,B,B,B

In [ ]:
df_enem['TP_SEXO'].unique()

NameError: name 'df' is not defined